.popup__input {
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    width: 358px;
    padding-bottom: 13.34px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: rgba(0, 0, 0, 1);
    margin-bottom: 30px;
  }
  
  @media all and (min-width: 320px) and (max-width: 766px) {
    .popup__input {
      width: 238px;
      padding-bottom: 9px;
    }
  }